.no-margin {
  margin: 0;
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

.inherit-color {
  color: inherit;
}

.custom-navbar {
  background-color: rgb(206, 140, 87); /*TODO: this color is temporary */
}