body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
color-scheme {
  color: #0C2D57;
  color: #FC6736 100%;
  color: #FFB0B0 100%;
  color: #EFECEC 100%;

}
.nav-bg {
  background: #0C2D57;
  background: linear-gradient(90deg,#FC6736 50%, #FFB0B0 80%, #EFECEC 100%);
}

.nav-main {
  background: #FC6736;
}

.button-bg {
  background: #0C2D57;
  background: linear-gradient(180deg,#1b68ce, #094593 80%);
}